{% load staticfiles %}

<html>
    <head>
        <title>Kafui Alordo | My Django Girls blog - as a Coach</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
                {% if user.is_authenticated %}
                    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                {% endif %}
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div class="profile-header">
            <img style="border-radius: 50%; width: 100px; height: 100px;" src="https://avatars3.githubusercontent.com/u/14028900?s=400&v=4" alt="my-photo">
            <h2>Hi! There, Kafui Alordo Here. <br/><span style="font-size:small;"><b>And this is my
                Django Girls Blog - as a Coah.</b></span></h2>
            <p>Welcome to this simple blog, built using the Django Girls tutorial to capture all my Django Girls experiences i have
                and my journey throughout with Python/Django.</p>
            <p>I love all things technology, a software developer, STEM educator and a wanna Inter-preneur
                    who loves coding taking on new challenges.
            </p>
            <p>Am currently working on VoltaBots.</p>
            <p>Follow me on:<br/>
                Twitter <a href="https://twitter.com/ka_kafui">@ka_kafui</a><br/>
                GitHub <a href="github.com/kafui4k">kafui4k</a><br/>
            </p>
        </div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                        {% block content %}
                        {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>